---
import Line from "./buttons/Line.astro";

const EXPERIENCE = [
  {
    image: "/company/atleticoeste.webp",
    company: "ATLÉTICO OESTE",
    rol: "Directora Creativa",
    date: "2019 - actualidad",
    description: "Productora multimedia propia especializada en música y eventos, donde hice cámara, producción y postproducción de diversas piezas. Trabajé con artistas de renombre como Fresa Kill, Las Ex, Barbi Recanati y Sara Hebe.",
  },
  {
    image: "/company/cronos.webp",
    company: "CRONOS",
    rol: "Directora y Editora",
    date: "2018 - 2021",
    description: "Productora de publicidad, aquí me desempeñe como editora y directora, trabajé con compañias como YPF, Coca-Cola, Puma, Telecom, Burger King. Como también en propaganda para Gobierno de Buenos Aires, Presidencia de la Nación y Diario La Nación.",
  },
  {
    image: "/company/chancho_va.webp",
    company: "CHANCHO VA",
    rol: "Guionista y Directora",
    date: "2015 - 2018",
    description: "Productora de documentales, en la que escribí y dirigí un documental ganador de varios premios internacionales ¨Si la gente no te entiende, buscá otra gente¨ así como también participé de la creación y exposición de piezas artísticas docuementales en la Ciudad de Buenos Aires.",
  },
];
---

<div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-10">
  {
    EXPERIENCE.map(({ company, rol, date, description, image }) => (
      <div class="flex flex-col gap-2 border p-10 transition-all text-sm duration-300 ease-in-out hover:scale-105 hover:bg-myGray custom-shadow-ex">
        <div class="flex gap-4 items-center">
          <img
            src={image}
            alt={`${company} logo`}
            class="col-span-1 rounded-lg size-14"
          />
          <div class="col-span-2 flex flex-col justify-start">
            <h4 class="text-xs text-gray-400 mb-1">{date}</h4>
            <h2 class="font-bold font-xl">{company}</h2>
          </div>
        </div>

        <Line />
        <h3 id="description" class="font-bold text-xl">
          {rol}
        </h3>
        <p id="description" class="text-gray-200">{description}</p>
      </div>
    ))
  }
</div>
